<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Users: </h2>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Telephones</td>
    </tr>
    {{#users}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{telephones}}</td>
        </tr>
    {{/users}}
</table>

</body>
</html>