<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>

Some error occured.<br>
{{#status}}
    Status: {{.}}
{{/status}}
<br>
{{#message}}
    Message: {{.}}
{{/message}}
<br>
{{#exception}}
    Exception: {{.}}
{{/exception}}

</body>
</html>