<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a href="/batch">Excel batch registration page</a><br>
<a href="/json">JSON batch registration page (currently not working)</a><br>
<a href="/companies">All companies (JSON)</a><br>
<a href="/telephones">All telephones (JSON)</a><br>
<a href="/users">All users (Mustache view)</a><br>
<a href="/pdf">All users (PDF)</a>

</body>
</html>